[package]
name = "beerus"
version = "0.1.0"
edition = "2021"

[workspace]
members = ["beerus_core", "beerus_cli", "beerus_rest_api", "beerus-json-rpc"]

[workspace.package]
edition = "2021"
authors = ["Abdelhamid Bakhta <@abdelhamidbakhta>", "Lucas Levy <@lucaslvy>"]
description = "A fast, secure and portable light client for StarkNet"
homepage = "https://github.com/starknet-exploration/beerus"
repository = "https://github.com/starknet-exploration/beerus"
readme = "./README.md"
license = "MIT"


[dependencies]
beerus_core = { path = "./beerus_core" }

[dev-dependencies.cargo-husky]
version = "1.5.0"
default-features = false
features = [
    "precommit-hook",
    "run-for-all",
    "run-cargo-clippy",
    "run-cargo-fmt",
]
