[package]
name = "beerus-rpc"
version.workspace = true
edition.workspace = true
repository.workspace = true
license-file.workspace = true

[dependencies]
beerus-core.workspace = true
helios.workspace = true
starknet.workspace = true
ethers.workspace = true
eyre.workspace = true
primitive-types = "0.11.1"
jsonrpsee = { version = "^0.16", features = ["full"] }
thiserror = "1.0.26"
dotenv = "0.15.0"
tokio = { version = "1.8.1", features = ["full"] }
log = "0.4.14"
serde_json = "1.0.64"
env_logger = "0.10.0"
anyhow = "1.0.69"
