name: check

on: [pull_request]

# TODO: removed llvm codecov until we have beerus-rpc testing 
jobs:
  check:
    name: check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3
        
      - name: Setup Toolchain
        uses: actions-rs/toolchain@v1

      - name: Cache Deps
        uses: uses: Swatinem/rust-cache@v2

      - name: Clippy
        uses: actions-rs/cargo@v1
        with:
          command: clippy
          args: -- -D warnings

      - name: Format
        uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: -- --check

      - name: Test
        uses: actions-rs/cargo@v1
        with:
          command: test
