name: check

on:
  push:
    branches:
      - main
  pull_request:

env:
  RUSTFLAGS: -D warnings

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

# TODO: add back llvm codecov when we beerus-rpc testing 
jobs:
  test:
    name: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v2
      - run: cargo test --all -- -q --test-threads=2

  clippy:
    name: clippy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v2          
      - uses: actions-rs/clippy-check@v1
        with:
          args: --all
          token: ${{ secrets.GITHUB_TOKEN }}

  lint:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v2
      - run: cargo fmt --all -- --check

  # TODO: Add back in once Helios supports
  #   - ref(https://github.com/keep-starknet-strange/beerus/issues/383)
  # check:
  #   name: check
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@v3
  #     - uses: dtolnay/rust-toolchain@stable
  #       with:
  #         target: wasm32-unknown-unknown
  #     - uses: Swatinem/rust-cache@v2
  #     - run: cargo check -p beerus-core --target wasm32-unknown-unknown --no-default-features
