name: release
on:
  push:
    tags:
      - '*'

jobs:
  release:
    name: Release for ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            artifact_name: beerus-linux-x86_64.tar.gz
            asset_name: beerus-linux-x86_64.tar.gz
          - os: macos-latest
            artifact_name: beerus-darwin-x86_64.tar.gz
            asset_name: beerus-darwin-x86_64.tar.gz

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Install Toolchain
        run: |
          rustup set profile minimal
          rustup update --no-self-update stable
          
      - name: Cache Deps
        uses: Swatinem/rust-cache@v2
        with:
          cache-on-failure: true

      - name: Build
        run: cargo build --release

      - name: Create Tarball
        run: tar -C target/release -czvf ${{ matrix.artifact_name }} beerus

      - name: Upload binaries to release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: ${{ matrix.artifact_name }}
          asset_name: ${{ matrix.asset_name }}
          tag: ${{ github.ref }}

  docker-publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: docker/setup-buildx-action@v2
      - uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - uses: docker/build-push-action@v4
        with:
          push: true
          tags: >
            ghcr.io/${{ github.repository }}:latest,
            ghcr.io/${{ github.repository }}:${{ github.event.release.tag_name }}
